*{
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 8);
    cursor: crosshair;
}
body {
    font-family: 'Overpass', sans-serif;
    margin:0;
    line-height: 1.0;
    overflow-x: hidden;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                           ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;

}


.center-title1 {
    padding-top: 0.5em;
    line-height: 1.1;
    color: white;
    font-size: 125px;
    grid-column: 13 / 22;
    grid-row: 4 / 6;
    background-color: transparent;
}


#logo {
    z-index: 1000;
    padding-top: 1.5em;
    font-size: 125px;
    color: white;
    grid-column: 4 / 6;
    grid-row: 1 / 6;
}

#bottom-right {
    padding-top:1em;
    font-size: 12px;
    color: white;
    grid-column: 31;
    grid-row: 6/12;
    writing-mode: vertical-rl;
    background-color: rgba(39, 39, 39, 0);
    transform: rotate(-180deg);

}

.roundbutton{
    align-items: right;
    justify-content: end;
    font-size: 12px;
    grid-column: 31;
    grid-row: 5 / 6;
    background-color: rgba(39, 39, 39, 0);
  }
  
.circle {
    justify-content: right;
    margin-top: 2.5em;
    margin-right: 0;
    width: 3em;
    height: 3em;
    border-radius: 100%;        
    background: rgb(255, 255, 255);
    display:inline-block;
    line-height:100px;
}
.right-wall-offset {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.side-button {
    display:inline-block;
    width: 10em;
    border-width: .1em;
    color: white;
}


#typing {
    color: white;
    font-size: 12px;
    grid-row: 10;
    grid-column: 3 / 7;
    color: white;
    z-index: 0;
}
#l1 {
    grid-row: 11 / 12;
    grid-column: 1;
    background-color: white;
}
#l2 {
    grid-row: 11 / 12;
    grid-column: 2;
    background-color: white;
}
#l3 {
    grid-row: 11 / 12;
    grid-column: 3;
    background-color: white;
}
#l4 {
    grid-row: 11 / 12;
    grid-column: 4;
    background-color: white;
}

#l5 {
    grid-row: 11 / 12;
    grid-column: 5;
    background-color: white;
}
#l6 {
    grid-row: 11 / 12;
    grid-column: 6;
    background-color: white;
}
#l7 {
    grid-row: 11 / 12;
    grid-column: 7;
    background-color: white;
}

#down-arrow {
    padding-top: 0.5em;
    line-height: 1.1;
    color: white;
    font-size: 125px;
    grid-column: 17;
    grid-row: 10;
    background-color: transparent;
}